
 <nav class="navbar navbar-inverse" role="navigation">
  <ul class="nav navbar-nav col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <li><a class="likes" href="#">Likes </a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Categories <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Art and Culture</a></li>
        <li><a href="#">Style</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Business</a></li>

      </ul>
    </li>
    <div class="col-sm-offset-8 col-md-offset-9 col-lg-offset-9 logo"><img class="logo" src="http://oi61.tinypic.com/2aiq5pc.jpg"></div>
  </ul>
</nav>