<div class="container">
</div>


<script type="text/template" id="image-view">

<div class="image col-xs-10 col-sm-10 col-md-10 col-lg-10">
<img src=<%%= image %>

</div>
<div class="blurb">
	<%%= blurb %>
</div>

<div class="headline">
<%%= headline %>
</div>


</script>
